@using DAL
@using Microsoft.AspNetCore.Identity
@model IEnumerable<DAL.Model>
@inject SignInManager<AppUser> SignInManager;
@{
    ViewData["Title"] = "ConnectUserToModel";
}


<div style="width: 60%; margin-left: 20%">
    @if (!SignInManager.IsSignedIn(User))
    {
        <h2 class="Overskrift">Velkommen</h2>
        <h5 style="color: #DAAD86">
            Vælg en model at oprette en bruger til eller tryk login øverst til højre.
        </h5>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Height)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Weight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HairColor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Height)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HairColor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            <a class="nav-link text-dark" style="font-style:oblique" asp-area="Identity" asp-route-Id="@item.Id" asp-page="/Account/Register">Registrer</a>

                        </td>
                    </tr>
                }



            </tbody>
        </table>
    }
    else
    {
        <p>Velkommen</p>
    }

</div>

   


